/* app css stylesheet */
textarea {
  resize: none;
}

hr {
  border-color: black;
  border-width: 2px;
}

.border-box{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.form-container {
  padding: 1em;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 9999;
}
