/* app css stylesheet */
textarea {
  resize: none;
}

hr {
  border-color: black;
  border-width: 2px;
}

.border-box{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
}

.form-container {
  padding: 1em;
}

.md-virtual-repeat-container.md-autocomplete-suggestions-container {
  z-index: 9999;
}

.ng-invalid.ng-dirty {
    border-color: red;
    outline-color: red;
}

.ng-valid.ng-dirty {
    border-color: green;
    outline-color: green;
}

.messages {
  font-size: smaller;
  padding-top: 5px;
  padding-bottom: 10px;
  color: red;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}
.clearfix {
  clear: both;
}
