<div class="row form-container">
    <h2 class="text-center">Edit Issue page</h2>
    <form name="editIssueForm" ng-if="isProjectLeader">
        <div class="form-group">
            <label for="assignee">*Assignee: </label>
            <md-autocomplete id="assignee" md-selected-item="newValues.selectedUser" md-search-text="searchUser" md-min-length="2" md-items="item in searchUsers(searchUser)" md-item-text="item.Username" required placeholder="Start typing a username, autocomplete after 2 letters are typed.">
                <span>{{item.Username}}</span>
            </md-autocomplete>
        </div>
        <div class="form-group">
            <label for="dueDate">*Due Date: </label>
            <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd-MM-yyyy" ng-model="newValues.dueDate" ng-required="true" is-open="datePopup.isOpen" close-text="Close" />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openPopup()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
            </p>
        </div>
        <div class="form-group">
            <label for="priority">Priority: </label>
            <select id="priority" class="form-control" ng-model="issue.Priority.Id">
                <option ng-repeat="priority in priorities" value="{{priority.Id}}">{{priority.Name}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="labels">Labels: </label>
            <md-chips ng-model="selectedLabels" md-autocomplete-snap md-transform-chip="transformChip($chip)" md-require-match="false" md-separator-keys="[32]">
                <md-autocomplete  md-selected-item="selectedLabel" md-search-text="searchLabel" md-items="item in searchLabels(searchLabel)"
                    md-item-text="item.Name" placeholder="Search for a label or add a new one">
                    <span>{{item.Name}}</span>
                </md-autocomplete>
                <md-chip-template>
                    <span>
                        <strong>{{$chip.Name}}</strong>
                    </span>
                </md-chip-template>
            </md-chips>
        </div>
        <div class="form-group">
            <label for="title">*Title: </label>
            <input id="title" class="form-control" type="text" required ng-model="newValues.title" />
        </div>
        <div class="form-group">
            <label for="description">*Description: </label>
            <textarea id="description" class="form-control" type="text" required ng-model="newValues.description" />
        </div>
    </form> 
    <div ng-if="isAssignee || isProjectLeader" class="form-group">
        <label for="status">Status: </label>
        <select id="status" class="form-control" ng-model="newValues.status">
            <option selected value> -- select a status -- </option>
            <option ng-repeat="status in issue.AvailableStatuses" value="{{status.Id}}">{{status.Name}}</option>
        </select>
    </div>
    <div class="form-group">
        <button class="btn btn-success" ng-disabled="editIssueForm.$invalid" ng-click="editIssue()">Edit</button>
        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
    </div>
    
</div>