<div class="row">
    <h2 class="text-center">Issue page</h2>
    <div class="col-md-6 col-md-offset-3">
        <p><strong>Title:</strong> {{issue.Title}}</p>
        <p><strong>Description:</strong> {{issue.Description}}</p>
        <p><strong>Due Date:</strong> {{issue.DueDate}}</p>
        <hr />
        <p><strong>Author:</strong> {{issue.Author.Username}}</p>
        <p><strong>Assignee:</strong> {{issue.Assignee.Username}}</p>
        <hr />
        <p><strong>Project:</strong> <a href="#/projects/{{issue.Project.Id}}">{{issue.Project.Name}}</a></p>
        <p><strong>Labels:</strong> <span class="label label-success" ng-repeat="label in issue.Labels">{{label.Name}}</span></p>
        <p><strong>Priority:</strong> <span class="label label-success">{{issue.Priority.Name}}</span></p>
        <hr />
        <p><strong>Status:</strong> <span class="label label-success">{{issue.Status.Name}}</span></p>
        <hr />
        <p ng-if="isProjectLeader || isAssignee"><a href="#/issues/{{issue.Id}}/edit" class="btn btn-success">Edit Issue</a></p>
    </div>
</div>
<div class="row">
    <hr />
    <h3 class="text-center">Comments</h3>
    <form ng-if="isProjectLeader || hasIssueInProject" name="addCommentForm">
        <div class="form-group input-group">
            <textarea ng-model="newComment.Text" class="form-control custom-control no-highlight" required rows="5"></textarea> 
            <span class="input-group-addon btn btn-primary" ng-click="addCommentForm.$invalid || addComment()" ng-disabled="addCommentForm.$invalid">Add Comment</span>
        </div>
    </form>
</div>
<div class="row">
    <div ng-repeat="comment in comments" class="panel panel-primary" >
        <div class="panel-heading">
            <div class="align-left">{{comment.Author.Username}}</div> <div class="align-right">{{comment.CreatedOn | date:'dd-MM-yyyy HH:mm:ss'}}</div>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            <p>{{comment.Text}}</p>
        </div>
    </div>
</div>